.paymentOptions {
    display: flex;
    flex-direction: column;
    margin:0;
  }
  
  .option {
    color:#000;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  
  .radio {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    background-color: black !important;
    border-radius: 50%;
  }
  
  .text {
    font-size: 1.2rem;
  }