
.login-container{
    font-size:14px;
    width:100%;
    height:40%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
 button {
  color:#000;
  cursor: pointer;
  background-color:#d6b603;
  padding: 0.5rem 3rem;
  border: 1px solid #eecb04;
  border-radius: 2px;
}
 button:hover,
 button:active {
  background-color: #efd01d;
}
.form-container{
  font-size:14px;
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}